:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --charcoal: #383f51ff;
    --lavender-web: #dddbf1ff;
    --yinmn-blue: #3c4f76ff;
    --dun: #d1beb0ff;
    --rose-quartz: #ab9f9dff;
  }
  
  header {
    background-color: var(--yinmn-blue);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tittle {
    color: var(--lavender-web);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    text-decoration: none;
    color: var(--lavender-web);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav li a:hover {
    color: var(--dun);
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

/* button logout */
  .navButton {
   
    background-color: var(--yinmn-blue);
    color: var(--secondary-color);
    border: none;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    color: var(--dun);
    
  }
  